h1{
    text-align: center;
}

body{
    background-color: green;
    color: white;
}

.a{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

@media screen and (max-width:600px) {
    img{
        height: 400px;
    }
    
}